

.logo{
   border-radius: 50%;
   width: 100px;
}


.icon{
    width: 20px;
}



.itemlabel{
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
  cursor: pointer;

}

.itemlabelM{
    font-size: 15px;
    margin-left: 8px;
    color: white;
    font-weight: bold;
      cursor: pointer;

}



.shopcart{
  position: fixed;
    right: 10vw;
    top: 0vh;

}
.labelc{
    color: brown;
    font-size: 40px;
}
.login{
    position: fixed;
    overflow: hidden;
    right: 0vw;
    top: 0vh;
    width:100px;
    background-color: #2E90BD;
}

.signin{
    position: fixed;
    overflow: hidden;
    right: 0vw;
    top: 8vh;
     width:100px;
    background-color: #2E90BD;
}
.mantenimiento{
        background-color: #2E90BD;
        margin-top: 5px;
        color: white;
        font-weight: bold;
}
.mantenimiento:hover{

    background-color: #A1D8F1;
    
}
    .itemlabelM:hover{
    color: black;
    text-decoration: underline;
    }
    .icon-log{
        
        margin-right: 5px;
        color: #7FB645;
        background-color: #2E90BD;
        width: 40px;
        height: 40px;
        border-radius: 50%;
   
       
    }
    .icon-log *{
        color: brown;
    }
.log-container{
    align-items:center;
    position: absolute !important;
    width: 30px !important;
    height: 30px;
    border: none;
    text-align: center;
      right: 3vw;
    top: 1vh;

    border-radius: 50%;
    background-color:transparent ;
    background-image: none;
}
.log-container:hover .log-subcontainer{
    display: block;
    position: fixed;
    right: 2vw;
 
}
.log-subcontainer{
   display: none;
      background-color:#2191C0 ;
    background-image: none ;
 
      width: 150px;
    height: 100px;
    border-radius: 20%;
}
.itemlabellog{
    color: black ;
   font-weight: bold;
   font-size: 25px;
   margin-bottom: 10px;
}
.ui-growl{
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 9999;
}

